/* Inserta tu codigo aqui */
*{
     /* outline: 1px dotted red; */
     margin: 0px;
     width: 1200px;
}

h1, h2, h3, h4, p {
     width: 100%;
}

.mg-center {
     margin: auto;
}
.mg-bottom-10 {
     margin-bottom: 10px;
}

.img-center {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.w-200{
	width: 200%;
}
.w-96{
	width: 96%;
     /* outline: 1px dashed violet; */
}
.w-90{
	width: 90%;
     margin: auto;
     /* outline: 1px dashed green; */
}
.w-80{
	width: 80%;
     /* outline: 1px dashed green; */
}
.w-50{
     width: 49%;
}
.w-45{
     width: 45%;
}
.w-40{
     width: 39%;
}
.w-33{
     width: 33%;
     /* outline: 2px dashed purple; */
}
.w-25{
     width: 24%;
     /* outline: 1px dashed purple; */
}
.w-20{
     width: 20%;
     /* outline: 1px dashed greenyellow; */
}
.w-10{
     width: 10%;
     /* display: inline; */
}
.w-5{
     width: 5%;
}

.h-100 {
     height: 100%;
}

.col {
     display: inline-block;
     vertical-align: top;
}

.grilla {
     display: inline;
}

.circle {
     border-radius: 50%;
}

.pd-10 {
	padding: 10%;
}
.pd-2 {
	padding: 2%;
}
.pd-1 {
	padding: 1%;
}


.pd-lat-10 {
     padding-left: 10%;
     padding-right: 10%;
}
.pd-lat-5 {
     padding-left: 5%;
     padding-right: 5%;
}
.pd-lat-2 {
     padding-left: 2%;
     padding-right: 2%;
}

.pd-left-2 {
     padding-left: 2%;
}
.pd-right-2 {
     padding-right: 2%;
}


.va-top {
     vertical-align: top;
}
.va-mid {
     vertical-align: middle;
}


.text-large {
     font-size: 1.5em;
}

.text-gray{
	color: rgb(83, 88, 95);
}

.bg-img1 {
     background-image: url(/img/fondo.jpg);
}

.square-white {
     outline: 1px solid white;
     height: 25vh;
}

.wrapper {
     outline: 1px solid gray;
}

.header .logo {
     width: 10%;
     vertical-align: middle;
     /* margin: 0% 5%; */
     padding: 0% 5%;
     /* height: auto; */
     /* display: inline-block; */
}

.header ul {
     vertical-align: middle;
     display: inline-block;
     list-style: none;
     width: 75%;
     margin: auto;
     /* text-align: center; */
     /* outline: 1px solid orangered; */
}

.header li {
     display: inline;
     padding: 0% 2%;
     /* outline: 1px solid blue; */
}

.header .img-wide {
     height: 300px;
}

.header p {
     width: 80%;
}

.main {
     margin: auto;
}

/* .main .w-50 img {
     margin: auto;
     display: block;
} */

.main .w-50 p {
     display: inline-block;
     width: 80%;
}

.blog {
     background-image: url(/img/fondo2.jpg);
}

.footer .bg-gray {
     min-height: 300px;

}

